.main-box{
    margin-top: 1.5rem;
    width: 90%;
    border-radius: 1rem;
    background-color: #F1EEE9;
    overflow-x: scroll;
}
.title-box h3{
    font-weight: 900;
    font-size: 1.7rem;
    margin: .5rem 2rem;
    color: #362222;
}
.service-store-box{
    display: flex;
    width: 300%;
}
.service{
    margin: 1rem 1.3rem;
    box-shadow: 1px 1px 4px 0px rgba(0,0,0,0.75);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 10%;
    background-color: #FCFFE7;
    border-radius: 1rem;
    
}
.service img{
    width: 30%;
    margin: 1rem 0;
}
.service h2{
    font-size: 1.4rem;
    font-weight: 700;
    margin-bottom: 1rem;
}

.service p{
    width: 80%;
}
.know-more-btn{
    border: none;
    padding: 1rem 1.5rem;
    font-weight: 700;
    background-color: #0AA1DD;
    color: #FCFFE7;
    border-radius: 6px;
    margin-top: 1rem;
}

@media screen and (max-width:400px) {
    .service-store-box{
        width: 600%!important;
    }
}
